
u {
    text-decoration: none
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.cRed {
    color: #CC0033;
}

.cBlue {
    color: #3D88E4;
}

.bgRed {
    background: #CC0033;
}

.bgBlue {
    background: #3D88E4;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.pad50 {
    padding: 20px 0;
}

.mt30 {
    margin-top: 10px;
}

.title {
    text-align: center;
}

.title-left {
    text-align: left;
    line-height: 2;
    font-size: 24px;
}

.title h2 {
    font-size: 30px;
    line-height: 2;
}

.title h3 {
    font-size: 20px;
    line-height: 3;
    text-align: left;
}

.title p {
    line-height: 30px;
}

.index-btn {
    text-align: center;
}

.index-btn a {
    display: inline-block;
    padding: 0 30px;
    line-height: 40px;
    font-size: 16px;
    color: #3D88E4;
    border: 1px solid #3D88E4;
    cursor: pointer;
    border-radius: 6px;
}

.index-btn a:hover {
    color: #fff;
    background: #00baf2;
    border: 1px solid #00baf2;
}

.logo-bg {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-box {
    position: relative;
    margin-top: 10px;
    padding: 0 40px 0 28px;
}

.logo-box img {
    height: 70px;
}

.logo-box p {
    margin-left: 10px;
}

.logo-box p.logo-city {
    position: absolute;
    top: 20px;
    left: 160px;
    font-size: 13px;
    color: #101010;
}

.logo-box p.logo-name {
    font-size: 18px;
    margin-top: 46px;
    color: #009fd9;
}

.logo-box p.logo-tel {
    color: #CC0033;
    font-size: 16px;
    margin-top: 46px;
}

.nav-bg {
    position: static;
    width: 100%;
    left: 0;
    height: 80px;
    z-index: 999;
    box-shadow: 2px 5px 5px #ccc;
}

.nav-list {
    pos/ition: absolute;
    top: 0;
    /*padding: 20px 0;*/
    width: 1200px;
}

.nav-list li {
    float: left;
}

.nav_active {
    float: left;
    background: #4cc3ed;
    color: #fff;
    border-top: 2px solid #4cc3ed;
    border-top-left-radius:50%;
    border-bottom-right-radius:50%;
}
.nav-list li a.nav_active:hover{
    color:#fff;
}

.nav-list li a {
    display: block;
    padding: 13px 28px;
    text-align: center;
/*     line-height: 30px; */
    font-size: 16px;
    cursor: pointer;
}

/*.nav-list li a:hover {
    color: #fff !important;
}*/

.nav-list .tel {
    height: 16px;
    margin: 16px 0 8px 28px;
}

.swiper-wrapper {
    width: 100%;
    height: 625px;
}

.swiper-container {
    width: 100%;
    height: 625px;
}

.swiper-container img {
    width: 100%;
    height: 625px;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main-new span {
    padding: 0 10px;
    line-height: 22px;
    font-size: 16px;
}

.main-new ul {
    width: 1100px;
    height: 22px;
    overflow: hidden;
}

.main-new li {
    float: left;
    font-size: 16px;
    padding: 0 10px;
    line-height: 22px;
}

.what-list {
    text-align: center;
    padding: 0 40px;
}

.what-list li {
    float: left;
    width: 200px;
    padding: 30px;
    margin: 10px;
    /*margin-top: 20px;*/
    border-radius: 10px;
    cursor: pointer;
}

.what-list li.wbg-01,
.what-list li.wbg-02,
.what-list li.wbg-03,
.what-list li.wbg-04 {
    background: #3d88e4;
}

.what-list li.wbg-05,
.what-list li.wbg-06,
.what-list li.wbg-07,
.what-list li.wbg-08 {
    background: #e79934;
}

.what-list li.wbg-09,
.what-list li.wbg-10,
.what-list li.wbg-11,
.what-list li.wbg-12 {
    background: #2baf2a;
}

.what-list li.wbg-01 a,
.what-list li.wbg-02 a,
.what-list li.wbg-03 a,
.what-list li.wbg-04 a {
    color: #3d88e4;
}
.what-list li.wbg-01:hover,
.what-list li.wbg-02:hover,
.what-list li.wbg-03:hover,
.what-list li.wbg-04:hover {
    background: #00baf2;
}
/*#e79934*/
.what-list li.wbg-05 a,
.what-list li.wbg-06 a,
.what-list li.wbg-07 a,
.what-list li.wbg-08 a {
    color: #e79934;
}
.what-list li.wbg-05:hover,
.what-list li.wbg-06:hover,
.what-list li.wbg-07:hover,
.what-list li.wbg-08:hover {
    background: #FF8C00;
}
/*#3CB371*/
.what-list li.wbg-09 a,
.what-list li.wbg-10 a,
.what-list li.wbg-11 a,
.what-list li.wbg-12 a {
    color: #2baf2a;
}
.what-list li.wbg-09:hover,
.what-list li.wbg-10:hover,
.what-list li.wbg-11:hover,
.what-list li.wbg-12:hover {
    background: #3CB371;
}

.what-list p {
    font-size: 18px;
    line-height: 2;
    color: #fff;
}

.what-list a {
    display: inline-block;
    font-size: 14px;
    background: #fff;
    padding: 0 20px;
    line-height: 1.8em;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.what-list-list {
    text-align: center;
    padding: 0 40px;
}

.what-list-list li {
    float: left;
    padding: 0 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: #3D88E4;
    border-radius: 10px;
    cursor: pointer;
}

.what-list-list p {
    font-size: 16px;
    line-height: 2;
    color: #fff;
}

.what-list-list a {
    text-decoration: underline;
    color: #fff;
}

.what-list-list li:hover,
.what-list-list li.show {
    background: #00baf2;
}

.main-act-bg img {
    width: 100%;
}

.main-programme ul {
    margin: 0 50px;
}

.main-programme li {
    float: left;
    padding: 20px 0px 10px 10px;
    width: 290px;
    margin: 10px 30px;
    background: #fff;
}

.main-programme li span {
    position: relative;
    float: left;
    width: 140px;
    height: 100px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden
}

.main-programme li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 200px;
    vertical-align: middle;
}

.main-programme li:hover img {
    top: -100px;
}

.main-programme li div.right {
    float: left;
}

.main-programme li h2 {
    color: #444;
    font-size: 24px;
}

.main-programme li p {
    color: #444;
    line-height: 30px;
}

.main-programme li a {
    display: inline-block;
    color: #fff;
    width: 120px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    border-radius: 6px;
}

.main-programme li:hover a {
    background: #fff;
}

.main-programme li:hover h2,
.main-programme li:hover p {
    color: #fff;
}

.main-programme .main-programme-list-01 {
    margin: 30px 50px 0;
}

.main-programme-list-01 a {
    background: #ffab00;
}

.main-programme-list-01 li:hover {
    background: #ffab00;
}

.main-programme-list-01 li:hover a {
    color: #ffab00;
}

.main-programme-list-02 a {
    /*background: #009FE9;*/
    background: #00baf2;
}

.main-programme-list-02 li:hover {
    /*background: #009FE9;*/
    background: #00baf2;
}

.main-programme-list-02 li:hover a {
    /*color: #009FE9;*/
    color: #00baf2;
}

.main-programme-list-03 {
    margin-bottom: 30px;
}

.main-programme-list-03 a {
    /*background: #CE0000;*/
    background: #CC0033;
}

.main-programme-list-03 li:hover {
    /*background: #CE0000;*/
    background: #CC0033;
}

.main-programme-list-03 li:hover a {
    /*color: #CE0000;*/
    background: #ffff;
    color: #CC0033;
}

/*.main-difference-list {
    margin: 30px 50px 0;
}*/

.main-difference-list li {
    margin-top: 10px;
}

.main-difference-list li .box {
    position: relative;
}

.main-difference-list li .box:hover a.hover {
    display: block;
}

.main-difference-list li a.hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 537px;
    height: 188px;
    text-align: center;
    line-height: 188px;
    color: #fff;
    background: url(../img/bg_10.png);
    display: none;
}

.main-difference-list li:first-child {
    margin-top: 0;
}

.main-difference-list .left,
.main-difference-list .right {
    float: left;
    /*width: 484px;*/
    width: 537px;
}

.main-difference-list .left p,
.main-difference-list .right p {
    line-height: 1.5;
    height: 64px;
    margin: 10px;
    overflow: hidden;
}

.main-difference-list .left img,
.main-difference-list .right img {
    width: 100%;
    height: 188px;
}

.main-difference-list .center {
    float: left;
    width: 100px;
    height: 100px;
    border: 3px solid #CC0033;
    margin: 40px 10px;
    border-radius: 50%;
}

.main-difference-list .center span {
    display: block;
    color: #CC0033;
    text-align: center;
    line-height: 30px;
}

.main-difference-list .center .top {
    font-size: 24px;
    margin-top: 20px;
}

.main-difference-list .center .bot {
    font-size: 30px;
}

.main-expert {
    width: 1100px;
    margin: 0px auto;
}

.main-expert .g_box {
    position: relative;
    width: 100%;
    height: 325px;
    margin-top: 30px;
}

.main-expert .g_box a {
    position: absolute;
    top: 0;
    left: 0;
    height: 325px;
}

.main-expert .g_box a .zhe1 {
    background: #3D88E4;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.main-expert .g_box .a0 {
    z-index: 100;
    width: 485px;
    overflow: hidden;
}

.main-expert .g_box .a1 {
    left: 200px;
    z-index: 99;
    width: 485px;
    overflow: hidden;
}

.main-expert .g_box .a2 {
    left: 400px;
    z-index: 98;
    width: 485px;
    overflow: hidden;
}

.main-expert .g_box .a3 {
    left: 600px;
    z-index: 97;
    width: 485px;
    overflow: hidden;
}

.teambox {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 90px;
    padding-right: 10px;
    overflow: hidden;
    text-align: right;
}

.teambox .teamtitle {
    font-size: 1.5rem;
    color: #fff;
}

.teambox .teaminfo {
    font-size: 0.5rem;
    color: #fff;
}

.main-case-bg .list-more {
    margin-left: 10px;
}

.list-more-list {
    disp/lay: none;
}

.list-more-list.show {
    display: block;
}

.main-case-bg .list-more li {
    position: relative;
    float: left;
    border: 1px solid #fff;
    padding: 12px;
    wi/dth: 210px;
    hei/ght: 450px;
    width: 170px
}

.main-case-bg .list-more li .box {
    position: relative;
    border: 1px solid #eee;
}

.main-case-bg .list-more li .box:hover a.hover {
    display: block;
}

.main-case-bg .list-more li a.hover {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 90px;
    color: #fff;
    background: url(../img/bg_10.png);
    display: none;
}

.main-case-bg .list-more li img {
    width: 100%;
    height: 104px;
    pad/ding: 4px;
    bor/der: 1px solid #ececec;
}

.main-case-bg .list-more li h2 {
    font-size: 18px;
    text-align: center;
    line-height: 3;
}

.main-case-bg .list-more li p {
    color: #666;
    margin-top: 16px;
    line-height: 1.5;
    height: 45px
}

.main-case-bg .list-more li p:first-child {
    margin-top: 0;
}

.main-case-bg .list-more li p span {
    font-size: 16px;
    margin-right: 10px;
}

.main-case-bg .list-more li p.con-01 {
    height: 105px;
    overflow: hidden;
}

.main-case-bg .list-more li p.con-04 {
    pos/ition: absolute;
    bot/tom: 0;
    le/ft: 50%;
    mar/gin-left: -45px;
    text-align: center;
}

.main-case-bg .list-more li p a.btn {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #3D88E4;
    margin-top: 20px;
    border-radius: 6px;
}

.main-case-bg .list-more li p a.btn:hover {
    background: #00baf2;
    color: #fff;
}

.main-case-bg .list-adv {
    margin-left: 30px;
}

.main-case-bg .list-adv li {
    position: relative;
    float: left;
}

.main-case-bg .list-adv li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 76px;
    color: #fff;
    background: url(../img/bg_10.png);
    display: none;
}

.main-case-bg .list-adv li:hover a {
    display: block;
}

.main-case-bg .list-adv img {
    display: block;
    width: 127px;
    height: 76px;
}

.main-salon-bg .list {
    margin: 30px 50px 0;
}

.main-salon-bg .list li {
    position: relative;
    float: left;
    padding: 2px;
}

.main-salon-bg .list li.list-num {
    width: 550px;
    text-align: center;
    padding: 15px 0;
}

.main-salon-bg .list li a.hover {
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    width: 271px;
    height: 153px;
    text-align: center;
    line-height: 153px;
    color: #fff;
    background: url(../img/bg_10.png);
    display: none;
}

.main-salon-bg .list li:hover a.hover {
    display: block;
}

.main-salon-bg .list img {
    width: 271px;
    height: 153px;
}

.main-salon-bg .list p {
    font-size: 30px;
    color: #666;
    line-height: 2.5;
}

.main-salon-bg .list span {
    display: inline-block;
    color: #3D88E4;
    font-size: 34px;
    letter-spacing: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.main-salon-bg .list a.btn {
    display: inline-block;
    padding: 0 50px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #3D88E4;
    border-radius: 6px;
}

.main-salon-bg .list a.btn:hover {
    background: #00baf2;
}

.list-box>li{
    /*background: rgb(241,244,245);*/
    float: left;
    width: 33%;
    padding: 0 10px;
    box-sizing: border-box;
    /*margin: 0 20px;*/
  }
  .list-box img {
    width: 100%;
    height: 200px;
    padding: 0;
    border: 0;
}
.list-box h2 {
    font-size: 16px;
    line-height: 2.5;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 18px;
    color: 19px;
    font-size: 14px;
}
.list-child>li{
  padding: 0px;
  width: 100%;
}
.list-child>li>a{
  line-height: 14px;
}

.list-box h2 {
    font-size: 16px;
    line-height: 2;
}


.list-box .list-child {
    margin: 10px 0;
}

.list-box .list-child li {
    position: relative;
    padding: 0;
}

.list-box .list-child span {
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    margin-right: 10px;
    line-height: 2.5
}

.list-box .list-child a {
    display: block;
    line-height: 2.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
}

.act-img-box {
    width: 100%;
    margin: 0 auto 20px;
}

.act-img-box img {
    width: 100%;
    height: 100px;
}

.mian-article-list-bg {
    margin-top: 20px;
}

.mian-article-list-bg .box-left {
    float: left;
    width: 850px;
}

.mian-article-list-bg .box-left .act-img {
    display: block;
}

.mian-article-list-bg .box-left .act-img img {
    display: block;
    width: 850px;
    height: 200px;
}

.mian-article-list-bg .box-left h1 {
    font-size: 20px;
    line-height: 2;
}

.mian-article-list-bg .box-left .title-left {
    margin-top: 10px;
}

.mian-article-list-bg .box-left .list li {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #ececec;
}

.mian-article-list-bg .box-left .list li .a-img {
    float: left;
}

.mian-article-list-bg .box-left .list li .a-img img {
    width: 240px;
    height: 149px;
    overflow: hidden;
}

.mian-article-list-bg .box-left .list li .right {
    position: absolute;
    left: 260px;
    top: 20px;
    wid/th: 560px;
}

.mian-article-list-bg .box-left .list li .right a {
    dis/play: block;
    cursor: pointer;
}

.mian-article-list-bg .box-left .list li .right .title {
    font-size: 18px;
    line-height: 2;
    color: #000;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    whi/te-space: nowrap;
}

.mian-article-list-bg .box-left .list li .right .con {
    color: #666;
    line-height: 1.5;
    height: 46px;
    overflow: hidden;
}

.mian-article-list-bg .box-left .list li .right .time-list {
    padding: 10px 0;
}

.mian-article-list-bg .box-left .list li .right .time-list span {
    float: left;
    font-size: 12px;
    color: #999;
    margin-right: 14px;
}

.mian-article-list-bg .box-left .list li .right .time-list .time {}

.mian-article-list-bg .box-left .list li .right .time-list .msg {}

.mian-article-list-bg .box-left .list li .right .tab-list {}

.mian-article-list-bg .box-left .list li .right .tab-list a {
    float: left;
    font-size: 12px;
    padding: 2px 10px;
    color: #999;
    border: 1px solid #ececec;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 6px;
}

.mian-article-list-bg .box-left .list li .right .tab-list a:hover {
    color: #00baf2;
    border: 1px solid #00baf2;
}

.mian-article-list-bg .box-right {
    float: right;
    width: 310px;
}

.mian-article-list-bg .box-right .a-img {
    display: block;
}

.mian-article-list-bg .box-right .a-img img {
    display: block;
    width: 310px;
    height: 310px;
}

.mian-article-list-bg .box-right .article-box {
    margin-top: 20px;
    border: 1px solid #ececec;
}

.article-title-h {
    border-bottom: 1px solid #ececec;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.mian-article-list-bg .box-right .article-box .article-title {
    border-bottom: 1px solid #ececec;
}

.mian-article-list-bg .box-right .article-box .article-title span {
    float: left;
    text-align: center;
    width: 152px;
    line-height: 50px;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.mian-article-list-bg .box-right .article-box .article-title span:hover {
    color: #00baf2;
    border-bottom: 2px solid #00baf2;
    margin-bottom: -1px;
}

.mian-article-list-bg .box-right .article-box .article-title span.show {
    color: #00baf2;
    border-bottom: 2px solid #00baf2;
    margin-bottom: -1px;
}

.article-box-list ul {
    padding: 10px 15px;
    display: none;
}

.article-box-list ul.show {
    display: block;
}

.article-box-list li {
    curs/or: pointer;
}

.article-box-list li i {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    line-height: 36px;
    margin-right: 10px;
}

.article-box-list li.icon-01 i {
    color: #CC0033;
}

.article-box-list li.icon-02 i {
    color: #3D88E4;
}

.article-box-list li.icon-03 i {
    color: #3D88E4;
}

.article-box-list li p.tit {
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article-box-list li p.con {
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    color: #999;
    margin-left: 20px;
    text-indent: 1em;
    display: none;
}

.article-box-list li:hover p.con {
    display: block;
}

.mian-article-list-bg .box-left .article-more-box .act-img img {
    width: 850px;
    height: 200px;
}

.article-more-box .acTitle {
    font-style: 30px;
}

.article-more-box .more-list {
    margin: 20px 0;
}

.article-more-box .more-list span {
    float: left;
    margin-right: 20px;
    font-size: 12px;
}

.article-more-box .more-list span a {
    font-size: 12px;
}

.article-more-box .more-list span.last b {
    color: #3D88E4;
    font-weight: normal;
}

.article-more-box .introduce {
    text-in/dent: 2em;
    padding: 15px;
    color: #999;
    background: #ececec;
    margin-top: 20px;
}

.article-more-box .introduce-p {
    text-in/dent: 2em;
    margin: 20px 0;
    line-height: 1.5;
}

.article-more-box .introduce-p img {
    max-width: 100%;
    display: inline-block
}

.article-more-box .introduce-list a {
    float: left;
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
    line-height: 20px;
    color: #3D88E4;
    margin-right: 10px;
    border: 1px solid #3D88E4;
    cursor: pointer;
    border-radius: 6px;
}

.article-more-box .introduce-list a:hover {
    color: #fff;
    background: #00baf2;
}

.article-more-box .introduce-share {
    margin: 20px 0;
}

.article-more-box .introduce-share a {
    float: right;
    bo/rder: 1px solid #ececec;
    font-size: 12px;
    padd/ing: 2px 10px;
    margin-l/eft: 10px;
    line-height: 1;
    bord/er-radius: 4px;
}

.article-more-box .introduce-share a:hover {
    color: #00baf2;
    bord/er: 1px solid #00baf2;
}

.article-more-box .article-last a {
    color: #666;
}

.city-list-title-box {
    padding: 20px 0;
}

.city-list-title-box h4 {
    font-size: 16px;
    line-height: 1.5;
    border-left: 5px solid #00baf2;
    margin: 20px 0 10px;
    padding-left: 5px;
}

.city-list-title-box span {
    font-size: 14px;
    line-height: 1.5;
    margin-right: 20px;
}

.city-list-title li {
    float: left;
    padding: 0 20px 0 0;
}

.city-list-title li:first-child {
    padding-left: 0;
}

.city-list-title li a {
    color: #000;
    line-height: 1.5;
    cursor: pointer;
}

.city-list-title li a:hover,
.city-list-title li.on a {
    color: #00baf2;
}

.city-list-con-box {
    padding-bottom: 30px;
}

.city-list-con-box li {
    height: auto;
    bord/er-top: 1px solid #f5f5f5;
    padd/ing: 40px 0 0;
    ma/rgin-top: 8px
}

.city-list-con-box p {
    font-size: 16px;
    margin: -120px 0 0 0;
    padding: 120px 0 0 0;
    height: 40px;
    line-height: 40px;
    border-bot/tom: 1px dashed #dadada;
    text-indent: .5em;
}

.city-list-con {
    padding: 0 0 1em 0;
    border-bottom: 1px solid #eee;
}

.city-list-con li {
    float: left;
    padding-right: 10px;
    border: 0 none;
}

.city-list-con li:first-child {
    pad/ding-left: 0;
}

.city-list-con li a {
    display: block;
    line-height: 2.5;
}

.city-list-con li a.on {
    color: #00baf2;
}

.city-list-con dt a {
    display: inline-block;
    font-size: 16px;
    margin: 10px 0
}

.city-list-con dd {
    border-bottom: 1px solid #eee
}

.city-list-con dd a {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
}

.main-founder {
    text-align: center;
    line-height: 30px;
}

.main-founder img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.main-founder li {
    line-height: 2;
}

.main-founder h2.tit-msg {
    font-size: 20px;
    color: #CC0033;
    line-height: 2
}

.main-founder p.con {
    font-size: 20px;
    color: #CC0033;
}

.main-founder a.btn {
    display: inline-block;
    padding: 0 50px;
    line-height: 40px;
    font-size: 18px;
    color: #CC0033;
    border: 1px solid #CC0033;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}

.main-founder a.btn:hover {
    color: #fff;
    background: #CC0033;
}

.mian-message p {
    margin-top: 20px;
    text-indent: 2em;
    line-height: 1.5;
}

.mian-message p:first-child {
    margin-top: 50px;
}

.tools-recomm {
    margin-left: -10px;
}

.tools-recomm li {
    float: left;
    width: 180px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.tools-recomm li a {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 72px;
}

.tools-recomm li.tools-recomm-01 {
    background: #eee;
}


/*.tools-recomm li.tools-recomm-02 {background-image: url(../images/i_019.png);}
.tools-recomm li.tools-recomm-03 {background-image: url(../images/i_020.png);}
.tools-recomm li.tools-recomm-04 {background-image: url(../images/i_021.png);}
.tools-recomm li.tools-recomm-05 {background-image: url(../images/i_022.png);}
.tools-recomm li.tools-recomm-06 {background-image: url(../images/i_023.png);}
.tools-recomm li.tools-recomm-07 {background-image: url(../images/i_024.png);}
.tools-recomm li.tools-recomm-08 {background-image: url(../images/i_025.png);}
.tools-recomm li.tools-recomm-09 {background-image: url(../images/i_026.png);}*/


/*工具*/

.tools-recomm li {
    position: relative;
}

.toolicon {
    position: absolute;
    top: 15px;
    left: 0;
    width: 50px;
    height: 50px;
    margin-left: 65px;
}

.tools-recomm-list li {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #ececec;
}

.tools-recomm-list li:first-child {
    border-top: 1px solid #fff;
}

.tools-recomm-list .left {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.tools-recomm-list .right {
    position: absolute;
    left: 320px;
    top: 14px;
}

.tools-recomm-list .right h2 a {
    font-size: 16px;
    line-height: 2;
    white-space: normal;
    text-decoration: ellipsis;
    overflow: hidden;
}

.tools-recomm-list .right p {
    font-size: 14px;
    line-height: 1.5;
    height: 106px;
    overflow: hidden;
}

.company-bg {
    padding-top: 50px;
}

.company-title,
.company-title-case {
    width: 1200px;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 20px;
}

.company-title li {
    float: left;
    font-size: 16px;
    line-height: 2;
    padding: 0 69px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: -2px;
    cursor: pointer;
}

.company-title li.show,
.company-title li:hover,
.company-title-case li.show,
.company-title-case li:hover {
    color: #00baf2;
    border-bottom: 2px solid #00baf2;
}

.company-title-case li {
    float: left;
    width: 11.1%;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    pad/ding: 0 45.5px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: -2px;
    cursor: pointer;
}

.company-box-list-01 img {
    posit/ion: relative;
    le/ft: 50%;
    to/p: 0;
    wid/th: 500px;
    heig/ht: 300px;
    mar/gin: 20px 0 20px -250px;
    max-width: 800px;
    height: auto;
    margin: 0 auto
}

.company-box-list-01 p {
    font-size: 14px;
    line-height: 1.5;
    color: 555;
}

.company-box-list-01 h2 {
    font-size: 16px;
    line-height: 3;
    color: #000;
}

.company-box-list-01 h4 {
    font-size: 18px;
    line-height: 2;
    margin: 30px 0 20px;
}

.company-box-list-02 h2 {
    font-size: 28px;
    text-align: center;
    line-height: 2;
    margin-top: 20px;
}

.company-box-list-02 img {
    posi/tion: relative;
    le/ft: 50%;
    t/op: 0;
    marg/in-left: -100px;
    wid/th: 200px;
    heig/ht: 200px;
    bor/der-radius: 50%;
    ov/erflow: hidden;
}

.company-box-list-02 h3 {
    font-size: 16px;
    text-align: center;
    line-height: 2;
}

.company-box-list-02 p {
    font-size: 14px;
    line-height: 2;
    text-ind/ent: 2em;
    margin-top: 10px;
}

.company-box-list-03 {
    margin-left: -18px;
}

.company-box-list-03 li {
    float: left;
    height: 220px;
    border: 1px solid #f5f5f5;
    width: 380px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
}

.company-box-list-03 li h2 {
    font-size: 16px;
    line-height: 2;
    background: #f5f5f5;
    text-align: center;
}

.company-box-list-03 li p {
    padding: 0 20px;
    line-height: 2;
}

.company-box-list-03 li p.last {
    padding-bottom: 20px;
}

.company-box-list-04 li {
    border: 1px solid #f5f5f5;
    padding: 10px;
    margin-top: 20px;
}

.company-box-list-04 li:hover {
    background: #f5f5f5;
}

.company-box-list-04 li img {
    float: left;
    width: 300px;
    height: 220px;
}

.company-box-list-04 li .center {
    float: left;
    margin-left: 20px;
    width: 794px;
}

.company-box-list-04 li .center h2 a {
    display: block;
    width: 794px;
    height: 32px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 2;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.company-box-list-04 li .center p {
    font-size: 14px;
    line-height: 1.5;
    height: 105px;
    overflow: hidden;
}

.company-box-list-04 li .right {
    float: right;
    width: 14px;
    text-align: center;
    vertical-align: middle;
    heig/ht: 90px;
    padding: 55px 10px;
    font-size: 14px;
    color: #fff;
    background: #00baf2;
}

.company-box-list-04 li.first {
    text-align: center;
    border: 1px solid #fff;
}

.company-box-list-04 li.first:hover {
    background: #fff;
}

.company-box-list-04 li.first img {
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -200px;
    width: 400px;
    height: 200px;
}

.join-box img {
    width: 100%;
    height: auto;
}

.page-box-bg {
    text-align: center;
}

.page-box {
    display: inline-block;
    margin: 50px 0;
}

.page-box p {
    float: left;
    font-size: 14px;
    color: #00baf2;
    border: 1px solid #00baf2;
    width: 100px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
}

.page-box ul {
    float: left;
}

.page-box li {
    float: left;
    wid/th: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #00baf2;
    border: 1px solid #00baf2;
    margin-right: 10px;
}

.page-box li.thisclass {
    background: #00baf2
}

.page-box li.thisclass a {
    color: #fff
}

.page-box li a {
    display: block;
    padding: 0 10px;
}

.page-box li a:hover,
.page-box p:hover,
.page-box li.on {
    color: #fff;
    background: #0E88EB;
}


/*by7*/

.chson {
    margin-right: 10px;
    line-height: 2.5;
}

.chson a {
    padding: 0 10px;
}

.chson .show {
    color: #00baf2;
}

.service-team-list li {
    float: left;
    width: 33.3%;
}

.service-team-list li h2 {
    line-height: 2;
    text-align: center;
    border-radius: 10px 10px 0 0
}

.service-team-list li p {
    padding: 0 .5rem;
    line-height: 2;
    border: 1px solid #eee;
    border-radius: 0 0 10px 10px
}

.t1 h2,
.t2 h2,
.t3 h2 {
    color: #fff;
    background: #e79934;
}

.t4 h2,
.t5 h2,
.t6 h2 {
    color: #fff;
    background: #3D88E4;
}

.service-team-list .fuwubox {
    wid/th: 80%;
    margin: 10px 10px 0 0;
}

.taocan li {
    width: 25%
}

.list-more-box .taocanbox {
    display: none
}

.list-more-box .show {
    display: block !important
}

.lianxibox {
    padding: 10px 0;
}

a.cat {
    color: #fff;
    background-color: #56A6D5;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px
}

a.cat i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #56A6D5;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent
}


/*表单*/

.formbox {
    padding: 0 15px 15px;
    border: 1px solid #eee;
}

.formbox h4 {
    text-align: center;
    font-size: 18px;
    color: #00baf2;
    line-height: 40px;
}

.formbox .forminfo {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
}

.formbox .forminfo span {
    color: #c00;
}

.formbox p {
    text-align: left;
    margin-bottom: 10px;
}

.formbox .intxt {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    text-indent: .5rem;
    border: 1px solid #eee;
}

.formbox .coolbg {
    text-align: center;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 5px;
    background: #00baf2;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.formbox .coolbg:hover {
    background: #c00
}

.formbox textarea {
    text-indent: .5rem;
    height: 80px;
}


/*加盟*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.recruit_container,
.recruit_container div,
.recruit_container section {
    box-sizing: content-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

.recruit_container {
    height: auto;
    margin: 0 auto;
    background: #fff;
}

.recruit_banner {
    width: 100%;
    height: 864px;
    background-image: url(../images/recruit/recruit_banner_01.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    text-align: center;
    color: #fff;
}

.recruit_banner .p1 {
    top: 180px;
    font-size: 24px;
    padding-top: 180px;
}

.recruit_banner .p2 {
    font-size: 65px;
    font-weight: 700;
    padding-top: 30px;
    text-shadow: 0 0 10px #000
}

.recruit_banner .p3 {
    padding-top: 70px;
    font-size: 30px;
}

.recruit_banner a {
    width: 226px;
    height: 56px;
    border-radius: 5px;
    background: #e74c3c;
    display: block;
    text-align: center;
    line-height: 56px;
    position: absolute;
    left: 50%;
    top: 530px;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
}

.recruit_banner a:hover {
    background: #fd6959;
    color: #fff;
    font-size: 18px;
}

.recruit_btn {
    width: 75px;
    height: 75px;
    background: url(../images/recruit/recruit_btn_03.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
}

.recruit_content {
    height: 567px;
    width: 100%;
}

.recruit_contenttop {
    height: 565px;
    border-bottom: 2px solid #e6e7eb;
}

.recruit_contenttopmain {
    width: 910px;
    height: 275px;
    margin: 0 auto;
    padding: 153px 0 137px 0;
}

.recruit_contenttop dl {
    width: 248px;
    float: left;
    margin-right: 65px;
}

.recruit_contenttop dl:after {
    clear: both;
}

.recruit_contenttop dl.last {
    margin-right: 0;
}

.recruit_contenttop dl dt {
    width: 138px;
    margin: 0 auto;
    position: relative;
}

.recruit_contenttop dl dt:hover div {
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    border: 1px solid #e95b4d;
}

.recruit_contenttop dl dt:hover p {
    color: #e74c3c;
}

.recruit_contenttop dl dt div {
    width: 72px;
    height: 72px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
}

.recruit_contenttop dl dt img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);
}

.recruit_contenttop dl:nth-child(1) dt img {
    width: 31px;
    height: 13px;
    display: inline-block;
}

.recruit_contenttop dl:nth-child(2) dt img {
    width: 26px;
    height: 25px;
    display: inline-block;
}

.recruit_contenttop dl:nth-child(3) dt img {
    width: 24px;
    height: 29px;
    display: inline-block;
}

.recruit_contenttop dl dt p {
    margin: 29px 0 18px 0;
    text-align: center;
    font-size: 18px;
    color: #6a6a6a;
}

.recruit_contenttop dl dt p.on {
    color: #e74c3c;
}

.recruit_contenttop dl dt h2 {
    width: 45px;
    border-top: 2px solid #888;
    margin: 0 0 13px 50px;
}

.recruit_contenttop dd ul li {
    line-height: 20px;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    color: #a0a0a0;
}

.recruit_contenttop dd ul li:before {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #a0a0a0;
    border-radius: 100%;
    position: absolute;
    left: -15px;
    top: 8px;
}

.recruit_contentbottom {
    height: 505px;
    width: 950px;
    padding: 90px 0 110px 0;
    margin: 0 auto;
}

.recruit_contentbottom h2 {
    text-align: center;
    font-size: 36px;
    color: #6a6a6a;
    margin-bottom: 75px;
}

.recruit_contentbottom dl {
    width: 112px;
    float: left;
    text-align: center;
    margin-right: 97px;
}

.recruit_contentbottom dl:ater {
    clear: both;
}

.recruit_contentbottom dl.last {
    margin-right: 0;
}

.recruit_contentbottom dl dt {
    text-align: center;
}

.recruit_contentbottom dl dd {
    text-align: center;
    margin-top: 45px;
    font-size: 24px;
    color: #7f96a3;
}

.recruit_list {
    height: 865px;
    width: 100%;
    background-image: url(../images/recruit/recruit_list_02.jpg);
}

.recruit_list h2 {
    text-align: center;
    font-size: 36px;
    color: #f4f5f9;
    margin-bottom: 80px;
}

.recruit_listmain {
    width: 1170px;
    height: 605px;
    padding: 105px 0 155px 0;
    margin: 0 auto;
}

.list_rows {
    width: 230px;
    height: 580px;
    margin-right: 5px;
    float: left;
    background: #f4f5f9;
    position: relative;
}

.list_rows:after {
    clear: both;
}

.list_rows .rowsTop {
    height: 95px;
    background: #999;
    text-align: center;
    padding-top: 25px;
}

.list_rows .rowsTop p {
    font-size: 16px;
    color: #fff;
    opacity: .7;
}

.list_rows:hover .rowsTop {
    background: #e74c3c;
}

.list_rows:hover .listIcon b,
.list_rows:hover .listIcon p {
    color: #e74c3c;
    font-weight: bold;
}

.list_rows:last-child {
    margin-right: 0;
}

.list_rows .listIcon {
    position: absolute;
    left: 60px;
    top: 65px;
    width: 108px;
    text-align: center;
    height: 108px;
    background: url(../images/recruit/recruit_listbg_03.png) no-repeat;
}

.list_rows .listIcon b {
    font-size: 18px;
    display: block;
    color: #999;
    margin-top: 37px;
    font-weight: bold;
}

.list_rows .listIcon p {
    font-size: 12px;
    color: #999;
    margin-top: 3px;
    font-weight: bold;
}

.rowsBottom {
    padding: 95px 35px 0 35px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

.rowsBottom p:nth-child(1),
.rowsBottom p:nth-child(2),
.rowsBottom p:nth-child(3) {
    margin-bottom: 12px;
    line-height: 22px;
}

.rowsBottom p:nth-child(1)::after,
.rowsBottom p:nth-child(2)::after,
.rowsBottom p:nth-child(3)::after {
    content: "";
    display: block;
    height: 3px;
    width: 3px;
    background: #999;
    border-radius: 100%;
    margin: 12px auto;
}

.recruit_join {
    height: 700px;
}

.recruit_joinmain {
    width: 1170px;
    height: 400px;
    margin: 0 auto;
    padding: 150px 0 150px 0;
}

.recruit_join dl dt {
    width: 507px;
    float: left;
    margin-right: 75px;
}

.recruit_join dl dd {
    float: left;
}

.recruit_join dl dd h2 {
    font-size: 36px;
    color: #6a6a6a;
    text-indent: 30px;
    margin-bottom: 43px;
    position: relative;
}

.recruit_join dl dd h2:before {
    content: "";
    width: 6px;
    height: 35px;
    background: #e74c3c;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.recruit_join dl dd ol {
    margin-bottom: 50px;
}

.recruit_join dl dd ol li {
    line-height: 28px;
    font-size: 14px;
    color: #999;
}

.recruit_join dl dd ol li span {
    margin-right: 17px;
}

.recruit_join dl dd a.join_btn {
    width: 225px;
    display: block;
    height: 56px;
    background: #e74c3c;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
}

.recruit_join dl dd a.join_btn:hover {
    background: #fd6959;
    color: #fff;
    font-size: 18px;
}

.recruit_sale {
    height: 788px;
    width: 100%;
    background: #000;
}

.recruit_saleLeft {
    background: #202020;
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box !important;
    height: 768px;
}

.recruit_saleLeftmain {
    width: 500px;
    height: 578px;
    float: right;
    padding: 50px 69px 0 38px;
}

.recruit_saleLeft h1 {
    font-size: 36px;
    text-align: right;
    color: #f4f5f9;
    margin-right: 27px;
    margin-bottom: 40px;
    opacity: .8;
    position: relative;
}

.recruit_saleLeft h1 span {
    width: 6px;
    height: 35px;
    position: absolute;
    top: 0;
    background: #e74c3c;
    display: inline-block;
    margin-left: 20px;
}

.recruit_saleLeft div {
    margin-bottom: 30px;
    text-align: right;
    color: #999
}

.recruit_saleLeft div h2 {
    font-size: 18px;
    color: #e74c3c;
    text-align: right;
    margin-bottom: 5px;
}

.recruit_saleLeft div ul li {
    line-height: 28px;
    text-align: right;
    font-size: 14px;
    color: #999;
}

.recruit_saleLeft div:nth-child(3) {
    margin-bottom: 60px;
}

.recruit_saleLeft .img1 {
    position: absolute;
    right: -36px;
    top: 140px;
}

.recruit_saleLeft .img2 {
    position: absolute;
    right: -36px;
    top: 280px;
}

.recruit_saleLeft .img3 {
    position: absolute;
    right: -36px;
    top: 420px;
}

.recruit_saleLeft .img4 {
    position: absolute;
    right: -36px;
    top: 560px;
}

.recruit_saleLeft .img5 {
    position: absolute;
    right: -36px;
    top: 700px;
}

.recruit_saleRight {
    width: 50%;
    float: right;
    height: 788px;
    background: url(../images/recruit/recruit_scale_03.jpg) no-repeat;
    background-size: 100% 100%;
}

.recruit_Power,
.recruit_admin {
    height: 1045px;
    width: 100%;
    background: #f4f5f9;
}

.recruit_Powermian {
    width: 1170px;
    height: 953px;
    margin: 0 auto;
    padding-top: 92px;
    position: relative;
}

.recruit_Power h2,
.recruit_admin h2 {
    text-align: center;
    font-size: 36px;
    color: #6a6a6a;
    margin-bottom: 30px;
}

.recruit_Power p,
.recruit_admin p {
    width: 190px;
    position: relative;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 57px;
}

.recruit_Power p span,
.recruit_admin p span {
    display: inline-block;
    width: 73px;
    border: 1px solid #999999;
}

.recruit_Power p span:nth-child(1),
.recruit_admin p span:nth-child(1) {
    margin-right: 38px;
    margin-left: 2px;
}

.recruit_Power p b,
.recruit_admin p b {
    display: inline-block;
    margin: 0px 15px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #e74c3c;
    position: absolute;
    left: 78px;
    top: 8px;
}

.recruit_PowerBg {
    height: 720px;
    width: 585px;
    background: url(../images/recruit/recruit_Power_03.png) no-repeat;
    position: absolute;
    right: 0;
}

.recruit_PowerLeft {
    width: 448px;
    height: 530px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 265px;
    padding: 80px 137px 0 137px;
    text-align: center;
}

.recruit_PowerLeft h2 {
    font-size: 18px;
    color: #6a6a6a;
}

.recruit_PowerLeft b {
    display: block;
    width: 40px;
    margin: 0 auto;
    border: 1px solid #888888;
}

.recruit_PowerLeft ol {
    margin-top: 20px;
}

.recruit_PowerLeft ol li {
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}

.recruit_PowerLeftBg {
    width: 128px;
    height: 128px;
    background: url(../images/recruit/recruit_PowerLeft_06.png);
    margin: 0 auto;
    margin-bottom: 50px;
}

.recruit_admin {
    width: 100%;
    height: 1105px;
    background: url(../images/recruit/recruit_admin_02.jpg);
}

.recruit_admincontent {
    width: 1170px;
    height: 860px;
    margin: 0 auto;
    padding: 145px 0 100px 0;
}

.recruit_admin h2 {
    color: #fff;
}

.recruit_adminMain {
    width: 1178px;
    height: 740px;
}

.recruit_adminMainLeft {
    width: 380px;
    height: 450px;
    border-radius: 3px;
    background: #fff;
    padding: 88px 80px 100px 88px;
    float: left;
}

.recruit_adminMainLeft h6 {
    width: 48px;
    height: 29px;
    background: url(../images/recruit/qq_icon_04.png) no-repeat;
    margin-bottom: 20px;
}

.recruit_adminMainLeft h4 {
    font-size: 17px;
    color: #999999;
    margin-bottom: 18px;
}

.recruit_adminMainLeft .qq_btn {
    width: 155px;
    height: 40px;
    background: #e74e3e;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 90px;
}

.recruit_adminMainLeft .qq_btn:hover {
    background: #fd6959;
    color: #fff;
    font-size: 18px;
}

.recruit_adminMainLeft .qq_btn a {
    display: block;
    width: 100%;
    height: 100%;
}

.recruit_adminMainLeft .qq_btn i {
    display: inline-block;
    width: 97px;
    height: 27px;
    background-image: url(../images/recruit/qq_iconbg_03.png);
    margin-top: 7px;
    cursor: pointer;
}


}
.recruit_adminMainLeft h3 {
    width: 48px;
}
.recruit_adminMainLeft h3 {
    width: 39px;
    height: 20px;
    background: url(../images/recruit/tel_icon_03.png) no-repeat;
    margin-bottom: 27px;
}
.recruit_adminMainLeft p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #999;
    margin-bottom: 90px;
}
.recruit_adminMainLeft h2 {
    margin: 0;
    padding: 0;
    width: 69px;
    height: 22px;
    background-image: url(../images/recruit/email_icon_03.png);
    margin-bottom: 30px;
}
.recruit_adminMainRight {
    width: 350px;
    height: 570px;
    float: right;
    border-radius: 3px;
    background: #fff;
    padding: 68px 100px 0px 100px;
}
.recruit_adminMainRight ul li {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.recruit_adminMainRight ul li em {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -20px;
    top: 25px;
    color: red;
}
.recruit_adminMainRight ul li.last {
    min-height: 110px;
}
.recruit_adminMainRight ul li input[type=text],
.recruit_adminMainRight ul li input[type=tel],
.recruit_adminMainRight ul li input[type=email] {
    display: inline-block;
    font-size: 14px;
    color: #999;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 26px 0 18px 0;
}
.recruit_adminMainRight ul li input[type=text].done,
.recruit_adminMainRight ul li input[type=tel].done,
.recruit_adminMainRight ul li input[type=email].done {
    color: #999;
}
.recruit_adminMainRight ul li input[type=text].error,
.recruit_adminMainRight ul li input[type=tel].error,
.recruit_adminMainRight ul li input[type=email].error {
    color: red;
}
.recruit_adminMainRight ul li:nth-child(7) {
    position: relative;
    color: #999999;
    padding: 26px 0 18px 0;
}
.recruit_adminMainRight ul li:nth-child(7) span {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
}
.recruit_adminMainRight ul li:nth-child(7) b {
    display: inline-block;
    margin: 0 70px 0 20px;
    font-size: 14px;
}
.recruit_adminMainRight ul li:nth-child(7) input[type=radio] {
    display: none;
}
.recruit_adminMainRight ul li:nth-child(7) input[type=radio]+label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d2d3d5;
    position: absolute;
}
.recruit_adminMainRight ul li:nth-child(7) input[type=radio]+label:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #e7e9ed;
}
.recruit_adminMainRight ul li:nth-child(7) input[type=radio]:checked+label:after {
    background: #e74e3e;
}
.recruit_adminMainRight ul li:nth-of-type(4) input {
    width: 280px;
    display: inline-block;
}

/*手机短信*/
.recruit_adminMainRight span.short_message {
    width: 180px;
}
.recruit_adminMainRight span.short_num {
    width: 85px;
    display: inline-block;
}
.recruit_adminMainRight input#validate {
    width: 225px;
}
.recruit_adminMainRight span.short_num a {
    width: 70px;
    height: 25px;
    display: none;
    vertical-align: middle;
    background: #e74e3e;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 25px;
}
.recruit_adminMainRight span.short_num a.disbtn {
    background-color: #edf0f4;
    color: #909296;
}
.recruit_adminMainRight span.short_num a.showsendBtn {
    display: block;
}
.recruit_adminMainRight ul li:nth-of-type(3) input[type=tel].done {}
.recruit_adminMainRight span.short_send a {
    background-color: #edf0f4;
    color: #909296;
}
.recruit_adminMainRight b.short_btn {
    display: none;
}
.recruit_adminMainRight b.short_btn img {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.recruit_adminMainRight b.short_btn {
    font-size: 12px;
    color: #666;
}
.recruit_adminMainRight .admin_btn {
    width: 157px;
    height: 45px;
    border-radius: 3px;
    background-color: #e74e3e;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    margin-top: 47px;
    cursor: pointer;
}
.recruit_adminMainRight .admin_btn:hover {
    background: #fd6959;
    color: #fff;
    font-size: 18px;
}
@keyframes myfirst {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
.Popup_section {
    width: 100%;
    height: 1200px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
}
.Popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 170px;
    background: #fff;
    border-radius: 5px;
}
.Popup p {
    text-align: center;
}
.Popup i {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #d4d4d4;
    color: #fff;
    float: right;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    margin: 3px;
}
.Popup i:hover {
    background: #e65624;
}
.Popup div {
    margin: 30px auto;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    background: url(../images/recruit/pupop_03_03.png);
}
.Popup_sectionSub {
    width: 100%;
    height: 1200px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
}
.Popup_content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 240px;
    background: #fff;
    border-radius: 5px;
}
.Popup_content p {
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;
    padding: 0 25px;
    line-height: 1.3;
}
.Popup_content i {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #d4d4d4;
    color: #fff;
    float: right;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    margin: 3px;
}
.Popup_content i:hover {
    background: #e65624;
}
.Popup_content div {
    margin: 30px auto;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    background: url(../images/recruit/puppop_done_03.jpg);
}
.Popup_content .poppup_btn {
    display: block;
    width: 166px;
    height: 45px;
    background: #e74e3e;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

/*服务增加*/
.main-message h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.main-message h2 a {
    font-size: 25px;
    color: #444;
}
.main-message a {
    text-decoration: none;
    color: #444
}
.main-message p,
.main-message div {
    line-height: 24px;
    margin-bottom: 5px;
}

/*底部增肌*/
.crumbs-list li {
    float: left;
    color: #999;
    padding: 4px;
}
.page-list-box {
    text-align: center;
    margin: 30px auto;
}
.page-list {
    display: inline-block;
}
.page-list li {
    float: left;
    margin-right: 10px;
}
.page-list li.first-page a {
    width: 100px;
}
.page-list li.last-page a {
    width: 100px;
}
.page-list li a {
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #0E88EB;
    border: 1px solid #0E88EB;
}
.page-list li a:hover,
.page-list li a.on {
    color: #fff;
    background: #00baf2;
}
.friendship-bg .list li {
    float: left;
}
.friendship-bg .list a {
    display: block;
    margin-right: 20px;
    line-height: 2;
    color: #666;
}
.friendship-bg .list a:hover {
    color: #00baf2;
}
.footer-bg {
    background: #000;
}
.footer {
    padding: 40px 0 20px;
}
.footer .f-center {
    margin-left: 20px;
    margin-right: 200px;
}
.footer .f-logo,
.footer .f-code {
    color: #fff;
}
.footer .f-logo {
    margin-top: 36px;
    margin-left: 100px;
}
.footer .f-code {
    text-align: center;
    margin-top: 4px;
}
.footer .f-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.footer .f-code img {
    width: 120px;
    height: auto;
}
.footer .f-logo,
.footer .f-code p {
    line-height: 2;
    font-size: 12px;
}
.footer .f-center h2 {
    font-size: 18px;
    line-height: 2;
    color: #fff;
}
.footer .f-center p {
    line-height: 2;
    color: #fff;
}
.footer .f-center a {
    display: block;
    line-height: 2;
    text-decoration: underline;
    color: #fff;
}
.copyright {
    font-size: 12px;
    text-align: center;
    line-height: 3;
    color: #fff;
    /*border-top: 1px solid #ececec;*/
}
.scroll-to-top {
    position: fixed;
    right: 0;
    bottom: 15%;
    width: 160px;
    text-align: center;
    line-height: 1.5;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    z-index: 1999;
}
.footer .f-nav {
    margin-left: 50px;
    width: 200px;
}
.footer .f-nav a {
    display: inline-block;
    float: left;
    width: 50%;
    height: 30px;
    color: #fff;
}

/*表单弹窗*/
.theme-buy {
    text-align: center;
}
.theme-gobuy,
.theme-signin {
    font-size: 15px;
}
.theme-price {
    position: relative;
    bottom: -6px;
    font-family: microsoft yahei, Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-weight: bold;
    color: #f60;
    line-height: 32px;
    font-size: 24px;
    display: inline-block;
}
.theme-price dfn {
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
}
.theme-desc {
    padding: 30px;
}
.theme-version {
    padding: 30px;
}
.theme-popover-mask,
.theme-popover-mask2 {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none
}
.theme-popover,
.theme-popover2 {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 360px;
    margin: -180px 0 0 -250px;
    border-radius: 5px;
    border: solid 2px #666;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px #666;
}
.theme-poptit,
.theme-poptit2 {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    position: relative;
}
.theme-popbod,
.theme-popbod {
    padding: 60px 15px;
    color: #444;
    height: 148px;
}
.theme-popbom,
.theme-popbom2 {
    padding: 15px;
    background-color: #f6f6f6;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    color: #666
}
.theme-popbom a,
.theme-popbom a {
    margin-left: 8px
}
.theme-poptit .close,
.theme-poptit2 .close {
    float: right;
    color: #999;
    padding: 5px;
    margin: -2px -5px -5px;
    font: bold 14px/14px simsun;
    text-shadow: 0 1px 0 #ddd
}
.theme-poptit .close:hover {
    color: #444;
}
.btn.theme-reg {
    position: absolute;
    top: 8px;
    left: 43%;
    display: none
}
.inp-gray,
.feed-mail-inp {
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    width: 220px;
    height: 16px;
    padding: 4px;
    color: #444;
    margin-right: 6px
}
.dform {
    padding: 30px 60px;
    text-align: center;
}
.dform .ipt_error {
    background-color: #FFFFCC;
    border-color: #FFCC66
}
.dform-tip {
    display: none;
    background-color: #080;
    color: #fff;
    line-height: 42px;
    margin-top: 10px;
    display: ;
    font-size: 14px;
}
.dform-tip-errer {
    background-color: #CF301A;
}
.dform-tip a {
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
    background-color: #FFE924;
    color: #CF301A;
}
.dform-login {
    padding: 0;
    height: 270px;
    overflow: hidden;
}
.dform-login iframe {
    height: 470px;
    margin-top: -180px;
}
.theme-signin {
    margin: -50px -20px -50px 90px;
    text-align: left;
    font-size: 14px;
}
.theme-signin h4 {
    color: #999;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 12px;
}
.theme-signin li {
    padding-left: 80px;
    margin-bottom: 15px;
}
.theme-signin li strong {
    float: left;
    margin-left: -80px;
    width: 80px;
    text-align: right;
    line-height: 32px;
}
.theme-signin .btn {
    margin-bottom: 10px;
}
.theme-signin p {
    font-size: 12px;
    color: #999;
}
.theme-desc,
.theme-version {
    padding-top: 0
}
.dform ul li {
    border-bottom: 1px solid #eee;
    text-indent: 1em
}
.dform ul li input {
    width: 100%;
    height: 40px;
}
.dform .coolbg {
    display: block;
    text-align: center;
    margin: 60px auto;
    background: #c00;
    padding: 0 40px;
    color: #fff;
    line-height: 40px;
    border-radius: 5px;
}.demo{
     position: absolute;
     top: 48px;
     left: -5px;
 }